<!DOCTYPE html>
<html lang="en">
<head>
    <title> InfoLens </title>
    <!-- Import Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rye&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Gelasio:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap" rel="stylesheet">
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="static/favicon.png">
    <!-- Link to CSS file -->
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div id="app">
        <header>
            <!-- Navigation bar -->
            <nav class="navbar">
                <div class="nav-logo">
                    <a href="#" @click.prevent="changePage('home')">
                        <img src="static/navicon.png" alt="InfoLens navicon">
                    </a>
                </div>
                <ul>
                    <li>
                        <a href="#" @click.prevent="changePage('home')" :class="{active: currentPage === 'home'}">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="#" @click.prevent="changePage('how')" :class="{active: currentPage === 'how'}">
                            How to Use
                        </a>
                    </li>
                    <li>
                        <a href="#" @click.prevent="changePage('analyse')" :class="{active: currentPage === 'analyse'}">
                            Analyse
                        </a>
                    </li>
                    <li>
                        <a href="#" @click.prevent="changePage('about')" :class="{active: currentPage === 'about'}">
                            About
                        </a>
                    </li>
                    <li>
                        <a href="https://avrylrodrigues.wixsite.com/infolenslog" target="_blank" rel="noopener">
                            Blog
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- Home page -->
            <div class="header" v-if="currentPage === 'home'">
                <h1 v-text="sitename"></h1>
                <p class="tagline" v-text="tagline"></p>
            </div>
        </header>

        <main>
            <!-- How to Use page -->
            <section v-if="currentPage === 'how'" class="how-layout">
                <!-- How to Use menu -->
                <div class="how-menu">
                    <h3>How to Use InfoLens</h3>
                    <ul>
                        <li><a
                            href="#"
                            @click.prevent="navigateTo('steps')"
                            :class="{active: how === 'steps'}">
                            Getting Started
                        </a></li>
                        <li><a
                            href="#"
                            @click.prevent="navigateTo('gauge')"
                            :class="{active: how === 'gauge'}">
                            Reading the credibility gauge
                        </a></li>
                        <li><a
                            href="#"
                            @click.prevent="navigateTo('metrics')"
                            :class="{active: how === 'metrics'}">
                            Understanding the scores
                        </a></li>
                    </ul>
                </div>
                <!-- How to Use content -->
                <div class="how-content">
                    <!-- Getting Started -->
                    <div v-if="how === 'steps'">
                        <h2>How to Analyze an Article</h2>
                        <ol class="impact-list">
                            <li><strong>Find a News URL</strong>: Copy the full link (address) of any news article you want to check.</li>
                            <img src="static/howTo1.png" class="howTo1-image" alt="News article link">
                            <li><strong>Paste & Analyze</strong>: Navigate to the 'Analyse' page, paste the link into the input box, and hit the 'Analyse' button.</li>
                            <img src="static/howTo2.png" class="howTo2-image" alt="Analyse page">
                            <img src="static/howTo3.png" class="howTo3-image" alt="Analyse page with link">
                            <li><strong>Wait for Deconstruction</strong>: InfoLens will break the article down sentence-by-sentence to look for linguistic patterns.</li>
                            <img src="static/howTo4.png" class="howTo4-image" alt="Credibility gauge">
                        </ol>
                        <p class="tip">Note: InfoLens shows you the patterns, but the final verdict belongs to you.</p>
                    </div>
                    <!-- Reading the credibility gauge -->
                    <div v-if="how === 'gauge'">
                        <h2>Understanding the credibility gauge</h2>
                        <p>The needle represents the overall credibility of the article</p>
                        <ul>
                            <li>Low Risk: <strong class="low-risk">Green (0-25%)</strong> The language is factual and objective.</li>
                            <img src="static/gaugeLow.png" class="gaugeLow-image" alt="Gauge at low risk">
                            <li>Moderate Risk: <strong class="mid-risk">Yellow/Orange (26-75%)</strong> Contains some opinionated phrasing or heavy adjective use.</li>
                            <img src="static/gaugeMid.png" class="gaugeMid-image" alt="Gauge at mid risk">
                            <li>High Risk: <strong class="high-risk">Red (75%+)</strong> Strong signals of sensationalist or emotionally manipulative language.</li>
                            <img src="static/gaugeHigh.png" class="gaugeHigh-image" alt="Gauge at high risk">
                        </ul>
                    </div>
                    <!-- Understanding the scores -->
                    <div v-if="how === 'metrics'">
                        <h2>Understanding the scores</h2>
                        <p>InfoLens uses two primary markers to determine the credibility score:</p>
                        <div class="score-explanation">
                            <p><strong>Subjectivity</strong>: High subjectivity means the author is using personal opinions rather than verified facts.</p>
                            <p><strong>Adjective density</strong>: Sensationalist news often over describes events with emotional adjectives to trigger a reaction, this means news articles that use too many adjectives are not credible.</p>
                            <p><strong>Credibility score</strong>: These two markers are added together and averaged to get the credibility score.</p>
                            <p><strong>Verdict label</strong>: Based on the final percentage, InfoLens assigns a verdict label to describe the overall tone of the sentence.</p>
                            <table class="verdict-table">
                                <tr>
                                    <th>Risk Score</th>
                                    <th>Verdict Label</th>
                                    <th>Linguistic Meaning</th>
                                </tr>
                                <tr>
                                    <td>0 - 25%</td>
                                    <td class="low-risk">Neutral</td>
                                    <td>The writing is objective and factual.</td>
                                </tr>
                                <tr>
                                    <td>26 - 59%</td>
                                    <td class="mid-risk">Balanced</td>
                                    <td>A mix of facts and minor descriptive or opinionated phrasing.</td>
                                </tr>
                                <tr>
                                    <td>60 - 74%</td>
                                    <td class="high-risk">Opinionated</td>
                                    <td>The language leans heavily toward a specific perspective.</td>
                                </tr>
                                <tr>
                                    <td>75% +</td>
                                    <td class="high-risk">Highly Subjective</td>
                                    <td>Strong presence of emotional bias and sensationalist patterns.</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Analyse page -->
            <section v-if="currentPage === 'analyse'">
                <h2>Analyse Article</h2>
                <!-- Article input field and button -->
                <div class="article-submission">
                    <input 
                        type="text" 
                        v-model="articleUrl" 
                        placeholder="Paste article URL here..."
                        @keyup.enter="analyseArticle" 
                    >
                    <div>
                        <button 
                            @click="analyseArticle" 
                            :disabled="isAnalyzing">
                            Analyse
                        </button>
                    </div>
                </div>
                <!-- Loading state -->
                <div class="loader-container">
                    <div v-if="isAnalyzing" class="loader-wrapper">
                        <div class="loading-spinner"></div>
                        <p class="loading-text">InfoLens is deconstructing the article...</p>
                    </div>
                </div>
                <!-- Credibility gauge -->
                <div v-if="analysisResult" ref="results" class="results-container">
                    <div class="gauge-wrapper">
                        <div class="semi-circle-gauge" :style="{ '--score': analysisResult.risk_gauge }">
                            <div class="gauge-needle"></div>
                            <div class="gauge-center-mask">
                                <span class="score-text">{{ analysisResult.risk_gauge }}%</span>
                            </div>
                        </div>
                        <p class="verdict-label">{{ analysisResult.verdict }}</p>
                    </div>
                    <div class="analysis-grid">
                        <!-- Overall Breakdown column -->
                        <div class="column-left">
                            <h3 class="sticky-header">Overall Breakdown</h3>
                            <div class="summary-box">
                                <p><strong>Title:</strong> {{ analysisResult.title }}</p>
                                <p><strong>Source:</strong> {{ analysisResult.publisher }}</p>
                                <p>
                                    This article from <strong>{{ analysisResult.publisher }}</strong> shows a <strong>{{ analysisResult.risk_gauge }}%</strong> match with sensationalist patterns.
                                </p>
                            </div>
                        </div>
                        <!-- Sentence-by-Sentence Breakdown column -->
                        <div class="column-right">
                            <h3 class="sticky-header">
                                Sentence-by-Sentence Breakdown
                                <!-- Calculation tooltip -->
                                <span class="info-icon">
                                    ?
                                    <div class="info-tooltip">
                                        <strong class="info-heading">How we calculate these scores</strong>
                                        <p><strong>Subjectivity: </strong>Measures opinionated vs. factual language.</p>
                                        <p><strong>Adjective Density: </strong>A high amount descriptive words often indicate sensationalist reporting.</p>
                                    </div>
                                </span>
                            </h3>
                            <!-- Tooltip -->
                            <div class="scroll-box">
                                <div
                                    v-for="(item, index) in analysisResult.sentences"
                                    :key="index"
                                    class="sentence-box"
                                    :class="{
                                        'risk-high': item.risk_score >= 60,
                                        'risk-med': item.risk_score > 25 && item.risk_score < 60,
                                        'risk-low': item.risk_score <= 25
                                    }">
                                    <p>
                                        {{ item.text }}
                                        <span class="tooltip-data"> {{ item.details }}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- About page -->
            <section v-if="currentPage === 'about'" class="about-layout">
                <!-- About menu -->
                <div class="about-menu">
                    <h3>About us</h3>
                    <ul>
                        <li><a
                            href="#"
                            @click.prevent="navigateTo('overview')"
                            :class="{active: aboutSection === 'overview'}">
                                About InfoLens
                        </a></li>
                        <li><a
                            href="#"
                            @click.prevent="navigateTo('why')"
                            :class="{active: aboutSection === 'why'}">
                                Why InfoLens exists
                        </a></li>
                        <li><a
                            href="#"
                            @click.prevent="navigateTo('how')"
                            :class="{active: aboutSection === 'how'}">
                                How InfoLens works
                        </a></li>
                        <li><a
                            href="#"
                            @click.prevent="navigateTo('ethics')"
                            :class="{active: aboutSection === 'ethics'}">
                                Ethical approach
                        </a></li>
                        <li><a
                            href="#"
                            @click.prevent="navigateTo('users')"
                            :class="{active: aboutSection === 'users'}">
                                Intended users
                        </a></li>
                        <li><a
                            href="#"
                            @click.prevent="navigateTo('impact')"
                            :class="{active: aboutSection === 'impact'}">
                                Vision and Impact
                        </a></li>
                    </ul>
                </div>
                <!-- About content -->
                <div class="about-content">
                    <!-- About InfoLens -->
                    <div v-if="aboutSection === 'overview'">
                        <h2>About InfoLens</h2>
                        <p>
                            InfoLens is a platform designed to promote informed and responsible digital news consumption by helping users understand how online information is presented.
                        </p>
                        <p>
                            InfoLens utilizes Natural Language Processing (NLP) via Python to deconstruct news articles into factors such as emotion, structural bias, and source reliability.
                        </p>
                        <p>
                            By doing this, InfoLens encourages useres to understand how news is presented and supports critical thinking.
                        </p>
                        <img src="static/logo.png" class="about-image" alt="InfoLens logo">
                    </div>
                    <!-- Why InfoLens exists -->
                    <div v-if="aboutSection === 'why'">
                        <h2>Why InfoLens exists</h2>
                        <p>
                            The increased availability of online news has made it difficult for users to assess the credibility of digital content.
                        </p>
                        <p>
                            Misleading articles often rely on emotional language and sensational headlines, which can influence readers without providing reliable information.
                        </p>
                        <p>
                            Therefore, there is a need for a platform that helps individuals understand how news is presented, supports critical thinking, and enables more informed decisions before trusting or sharing online information.
                        </p>
                        <p>That is where InfoLens comes in!</p>
                        <img src="static/whyInfolens.png" class="why-image" alt="Why InfoLens exists">
                    </div>
                    <!-- How it works -->
                    <div v-if="aboutSection === 'how'">
                        <h2>How InfoLens works</h2>
                        <p>
                            InfoLens is an innovative news verification framework designed to bridge the transparency gap.
                        </p>
                        <p>
                            Unlike traditional fact-checkers that provide just true or false verdicts, InfoLens introduces an explainability layer with the help of explainable AI (XAI) that makes the provided score understandable to users.
                        </p>
                        <p>
                            InfoLens allows users to submit links to news articles for analysis, which the platform then examines. It deconstructs news articles into distinct linguistic vectors like the tone of the language, emotional wording, and structural features commonly associated with misleading or credible content.
                        </p>
                        <p>
                            By converting these scores into visual indicators like the credibility gauge, it shifts the focus from “what to think" to "how to evaluate", empowering users to use their critical thinking skills needed for the digital age.
                        </p>
                        <img src="static/howInfolens.png" class="how-image" alt="How InfoLens works">
                    </div>
                    <!-- Ethical approach -->
                    <div v-if="aboutSection === 'ethics'">
                        <h2>Ethical approach</h2>
                        <p>
                            Most tools tell you what to think with a binary true or false label, however this approach limits critical thinking.
                        </p>
                        <p>
                            InfoLens does not determine whether the news is true or false, instead it promotes critical thinking by providing transparent explanations that allows users to form their own informed judgments.
                        </p>
                        <p>
                            InfoLens shows you the evidence, which is the specific sentences and markers that triggered the analysis scores, so that the final judgment remains with you.
                        </p>
                        <img src="static/ethicalApproach.png" class="ethics-image" alt="Ethical Approach">
                    </div>
                    <!-- Intended users -->
                    <div v-if="aboutSection === 'users'">
                        <h2>Intended users</h2>
                        <p>
                            InfoLens is designed for students, researchers, and everyday readers who want to improve media literacy and engage more critically with digital news.
                        </p>
                        <p>
                            For students, it is a research assistant that validates sources for academic purposes.
                        </p>
                        <p>
                            For researchers, it could be used as a tool to track patterns in misinformation.
                        </p>
                        <p>
                            For an everyday consumer, it acts as protection against misinformation.
                        </p>
                        <p>
                            The goal of InfoLens is to create a global community of critical thinkers who value evidence over emotion.
                        </p>
                        <img src="static/intendedUsers.png" class="users-image" alt="Intended users">
                    </div>
                    <!-- Vision and Impact -->
                    <div v-if="aboutSection === 'impact'">
                        <h2>Vision and Impact</h2>
                        <p>
                            Current digital literacy is struggling to keep pace with the speed of social media. Sensationalised headlines are more likely to be shared than factual ones, contributing to social polarization.
                        </p>
                        <p>
                            Here is the impact InfoLens could make:
                            <ul class="impact-list">
                                <li>
                                    Societal: Restores trust in verified journalism by making the verification process human-readable and understandable.
                                </li>
                                <li>
                                    Educational: Acts as a tool for students and professionals to recognize linguistic red flags.
                                </li>
                            </ul>
                        </p>
                        <p>
                            By aligning with UN Sustainable Development Goal 16 (Peace, Justice, and Strong Institutions), InfoLens seeks to restore trust in journalism, providing an accessible tool for educational and media organizations to promote critical thinking and responsible information consumption in the digital age.
                        </p>
                        <img src="static/visionAndImpact.png" class="impact-image" alt="Vision and Impact">
                    </div>
                </div>
            </section>
        </main>
        <!-- Automatic scroll button -->
        <button class="back-to-top" v-show="showBackToTop" @click="scrollToTop">
            ↑
        </button>
    </div>

    <script type="text/javascript">
        var webstore = new Vue({
            el: "#app",
            data:{
                sitename: "InfoLens",
                tagline: "Clarifying online news through AI-driven analysis",
                currentPage: "home",
                aboutSection: "overview",
                how: "steps",
                articleUrl: "",
                analysisResult: null,
                isAnalyzing: false,
                showBackToTop: false
            },
            methods: {
                // Handles page navigation
                changePage(page) {
                    this.currentPage = page;
                    // Resets the analyse page
                    this.articleUrl = "";
                    this.analysisResult = null;
                    // Reset if going to the about page
                    if (page === 'about') this.aboutSection = 'overview';
                    // Reset if going to the how to use page
                    if (page === 'how') this.how = 'steps';
                    // Reset scroll to the top
                    window.scrollTo(0, 0);
                },
                // Handles navigation for how to use and about page
                navigateTo(section) {
                    this.aboutSection = section;
                    this.how = section;
                    // Scroll to the top of the window
                    this.scrollToTop();
                },
                // Validates the article link provided
                analyseArticle() {
                    const urlPattern = /^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?$/;
                    // Checks if the input is empty
                    if (!this.articleUrl) {
                        alert("Please paste a URL to begin.");
                        return;
                    }
                    // Tests the article URL against Regex
                    if (!urlPattern.test(this.articleUrl)) {
                        alert("That doesn't look like a valid URL! Please check the format.");
                        return;
                    }
                    // Clear previous results
                    this.analysisResult = null;
                    // Setup loading state
                    this.isAnalyzing = true;
                    // Sends the data to Python
                    fetch('https://infolens-a3pv.onrender.com/analyse', {
                        method: 'POST',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify({ url: this.articleUrl }),
                    })
                    .then(response => response.json())
                    // Shows the result received from Python
                    .then(data => {
                        this.isAnalyzing = false;
                        this.analysisResult = data.message; 
                        console.log("Analysis Data Received:", this.analysisResult);
                        // Takes you to the results once it is rendered
                        this.$nextTick(() => {
                            if (this.$refs.results) {
                                this.$refs.results.scrollIntoView({ 
                                    behavior: 'smooth', 
                                    block: 'start' 
                                });
                            }
                        });
                    })
                    .catch((error) => {
                        this.isAnalyzing = false;
                        console.error('Error:', error);
                        alert("Connection failed!");
                    });
                },
                // Scrolls to the top of the page
                scrollToTop() {
                    window.scrollTo({
                        top: 0,
                        behavior: 'smooth'
                    });
                },
                // Shows the automatic scroll button after the user scrolls down
                handleScroll() {
                    this.showBackToTop = window.scrollY > 300;
                }
            },
            // Checks if the user scrolls
            mounted() {
                window.addEventListener('scroll', this.handleScroll);
            }
        });
    </script>
</body>
</html>